.App {
  text-align: center;
}

.App-div {
  background-color: #282c34;
  min-height: 500px;
  display: grid;
  place-content: center;
  color: white;
}
button {
  font-size: 18px;
  width: 230px;
  height: 100px;
  background-color: #5f26d0;
  color: white;
  border: none;
}
h2 {
  font-size: 34px;
  font-weight: 300;
}
